---
import Layout from "@/layouts/Layout.astro";

import { Header } from "@/components/header";
import { Footer } from "@/components/footer";

import { Hero } from "@/sections/home/hero";
import { Services } from "@/sections/home/services";
import { Portfolio } from "@/sections/home/portfolio";
import { SocialProof } from "@/sections/home/social-proof";
import { Contact } from "@/sections/home/contact";
---

<Layout>
  <div class="min-h-screen bg-obsidian text-snow">
    <Header />
    <Hero />
    <Services client:visible />
    <Portfolio client:visible />
    <SocialProof client:visible />
    <Contact client:visible />
    <Footer client:visible />
  </div>
</Layout>
